.gradle/
.gradle-isolated-*/
.gradle-projcache-*/
.gradle-user-home/
.kotlin/
.tmp_richeditor/
.tools/
**/build/
**/.cxx/
.idea/
*.iml
local.properties
.env
*.keystore
*.jks
*.log
.DS_Store
Thumbs.db
